<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Your Location</h1><br>
            <form class="form-submit" action="/submit" method="post">
              <h3>Latitude : <input type="text" for="lat" name="lat"></input></h3>
              <h3>Longitude : <input type="text" for="lng" name="lng"></input></h3><br>
              <button class="btn btn-lg btn-primary" type="submit" value="Submit">Submit</button>
            </form>
        </div>
        <div id="map"></div>


    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>

</html>
